/* FOR PHONE VIEW */
@media screen and (max-width:750px) {

    header .content {
        visibility: hidden;
        /* display: none; */

    }

    header .icons i:nth-child(3) {
        display: block;
    }

    header .logo h2 {
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    section#home {
        background-size: cover;
    }

    section#about {
        width: 100%;
        height: 100vh;
        color: black;
        padding: 1rem;

    }

    section#about .container {
        width: 90%;
        height: 100%;
        background: aliceblue;
        display: flex;
        padding: 1rem;

    }

    section#about .container .content {
        width: 100%;
        height: auto;
        color: black;

    }


    section#about .container .content:nth-child(2) {
        display: none;
        width: 50%;
        height: 100%;
        background: url(../img/unnamed.png);
        background-size: cover;
    }

    section#testimonials {
        padding: 2rem;
    }

    section#testimonials .container .content {
        width: 100%;
    }

}